<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

   %>
<div class="col-md-6 col-lg-4 pizza-card">

    <div class="thumbnail">

        <img class="pizza-icon" src="<%= pizza.icon %>" alt="Pizza">



        <div class="caption">
            <h3><span class="title"><%= pizza.title %><% if(pizza.is_new) { %>
                    <span class="label label-danger">Нова</span>
                    <% } else if(pizza.is_popular) {%>
                    <span class="label label-success">Популярна</span>
                    <% } %></span></h3>
            <div class="type"><%= pizza.type %></div>
            <div class="description">
                <%= getIngredientsArray(pizza).join(", ") %>
            </div>
        </div>

        <% if(pizza.small_size&&pizza.big_size) { %>
        <table class="table text">
            <tbody class="about_pizza">
            <tr class="sizes"><td> <img src="assets/images/size-icon.svg"><%= pizza.small_size.size %><br><img src="assets/images/weight.svg"><%= pizza.small_size.weight %></td>
                <td> <img src="assets/images/size-icon.svg"><%= pizza.big_size.size %><br><img src="assets/images/weight.svg"><%= pizza.big_size.weight %></td></tr>
            <tr><td><strong><%= pizza.small_size.price %> грн.</strong></td><td><strong><%= pizza.big_size.price %> грн.</strong></td></tr>
            <tr><td>  <button class="btn  small" type="button">Купити маленьку</button></td><td>
                    <button class="btn  big" type="button">Купити велику</button></td></tr>
            </tbody>
        </table>

        <% } else if(pizza.big_size) {%>
        <table class="table text">
            <tbody class="about_pizza">
            <tr class="sizes"><td> <img src="assets/images/size-icon.svg"><%= pizza.big_size.size %><br><img src="assets/images/weight.svg"><%= pizza.big_size.weight %></td></tr>
            <tr><td><strong><%= pizza.big_size.price %> грн.</strong></td></tr>
            <tr><td>  <button class="btn  big" type="button">Купити велику</button></td></tr>
            </tbody>
        </table>
        <% }  else  {%>
        <table class="table text">
            <tbody class="about_pizza">
            <tr class="sizes"><td> <img src="assets/images/size-icon.svg"><%= pizza.small_size.size %><br><img src="assets/images/weight.svg"><%= pizza.small_size.weight %></td></tr>
            <tr><td><strong><%= pizza.small_size.price %> грн.</strong></td></tr>
            <tr><td>  <button class="btn  small" type="button">Купити маленьку</button></td></tr>
            </tbody>
        </table>
        <% } %>

    </div>
</div>